@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-VariableFont_opsz,wght.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Jura";
    src: url("../assets/fonts/Jura-VariableFont_wght.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@media (min-width: 1280px) {
    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1250px;
        padding: 16px;
    }

    .left-corner {
        margin: 4px 0;
        display: flex;
        align-items: center;
    }

    .corner-duck {
    }

    .logo {
        margin-top: 5px;
    }

    .right-corner {
        display: flex;
        align-items: center;
    }

    .menu_burger {
        margin-left: 10px;
    }

    .centera-panel {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .nav-card {
        display: flex;
        justify-content: center;
    }

    .nav-btn {
        font-family: Inter, sans-serif;
        font-size: 15px;
        font-weight: 500;
        padding-bottom: 8px;
    }

    .nav-btn:hover {
        color: #2581eb;
        border-color: #2581eb;
        border-bottom: solid 3px;
    }

    .bucket {
        margin-right: 8px;
        color: #6b7280;
        box-sizing: border-box;
        border: 1px solid transparent;
    }

    .bucket:hover {
        color: #2581eb;
        border-radius: 5px;
        border-color: #2581eb;
    }

    .bucket:active {
        border-color: #0763cd;
    }

    .call-back-button {
        background-color: #eab308;
        color: white;
        border-radius: 5px;
        border: none;
        padding: 10px 12px;
        margin-right: 5px;
    }

    .main-container {
        width: 100%;
        display: flex;
        overflow: visible;
        margin-top: -75px;
    }

    .main-duck-image {
        margin-left: -181px;
        margin-top: 100px;
    }

    .duck-text {
        position: absolute;
        margin-top: 315px;
        margin-left: 280px;
    }

    .before-duck-text {
        font-family: "Jura", sans-serif;
        font-size: 152px;
        margin-left: 16px;
    }

    .after-duck-text {
        font-family: "Jura", sans-serif;
        font-size: 152px;
        margin-left: -230px;
        margin-top: 200px;
    }

    .after-duck-text-small {
        font-family: "Inter", sans-serif;
        width: 315px;
        color: #1f2937;
        font-weight: 150;
        font-size: 16px;
        margin-left: -420px;
        margin-top: 360px;
    }

    .duck-text-button {
        margin-top: 8px;
        color: white;
        width: 156px;
        height: 38px;
        border-radius: 8px;
        border: none;
        background: #2581eb;
        box-shadow: none;
    }

    .categories {
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: -30px;
    }

    .cat-card {
        display: flex;
        justify-content: center;
        width: 152px;
        align-items: center;
    }

    .cat-text {
        font-family: "Inter", sans-serif;
        font-size: 16px;
        margin-left: 8px;
        margin-top: 6px;
        margin-bottom: 6px;
    }
}
